@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: 100;
  font-size: 4vw;
  margin: 0px;
}

h3, p {
  font-size: 1.0vw;
  font-weight: 300;
  margin: 3vw 0;
  width: 50vw;
}

h4 {
  font-size: 1.0vw;
  font-weight: 300;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8% 0;
}

@media screen and (max-width: 937px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .hero .hero-title {
    width: 100%;
  }
  .hero h1 {
    font-size: 8vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero h3 {
    font-size: 2.0vw;
    font-weight: 300;
    margin: 3vw 0;
    width: 50vw;
  }
}

.hero-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 45%;
}

.hero-picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #005F9B;
  border-radius: 50%;
}

.log-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
}

.img-caption {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1425px;
  padding: 0 102px;
}

.container-nav {
  margin: 0 auto;
  max-width: 1425px;
  padding: 0 102px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  margin: 0;
  padding: 0 0px;
  background: rgba(255, 255, 255, 0.75);
  color: #BDBDBD;
  border-top: solid;
  border-bottom: solid;
}

.nav-link {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 1rem;
  color: #005F9B;
  text-decoration: none;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  font-weight: 400;
}

.nav-link:hover {
  background: #BDBDBD;
  color: white;
}

.home-link {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 1rem 2rem;
  color: #005F9B;
  text-decoration: none;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  font-weight: 400;
}

.home-link:hover {
  background: #BDBDBD;
  color: white;
  letter-spacing: .4rem;
}

.day {
  margin-top: 10vw;
  padding-top: 3vw;
}

@media screen and (max-width: 937px) {
  .day h1 {
    font-size: 8vw;
  }
  .day h3 {
    margin: 3vw 0;
    width: 100%;
  }
  .day h4, .day h3 {
    font-size: 2.0vw;
    font-weight: 300;
  }
}

.caption {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */