$maxSiteWidth: 1221px;
$siteGutterWidth: 102px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@import 'header-hero', 'log-entry', 'navigation';

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 100;
    font-size: clamp(3rem, 4vw, 6rem);
    margin: 0px;
}

h3,p {
    font-size: 1.0vw;
    font-weight: 300;
    margin: 3vw 0;
    width: 50vw;
}

h4 {
    font-size: 1.0vw;
    font-weight: 300;
}

.hero {
    display:flex;
    align-items: center;
    padding: 8% 0;
    @media screen and (max-width: 937px) {
        //display: block;
        flex-direction: column-reverse;
        align-items: stretch;
        
    }
}

.hero-title {
    flex: 1;
    //width: 45%;
}
.hero-picture-wrapper {
    flex: 1;
} 
.hero-picture {
    background: #005F9B;
    border-radius: 50%;
    max-width: 400px;
    margin: 0 auto 10%;
    > img {
        display: block;
    }
}

.log-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    
}

.img-caption {
    text-align: center;
}

.container {
    margin: 0 auto; 
    max-width: $maxSiteWidth + ($siteGutterWidth * 2);
    padding: 0 $siteGutterWidth;
}

.container-nav {
    margin: 0 auto; 
    max-width: $maxSiteWidth + ($siteGutterWidth * 2);
    padding: 0 $siteGutterWidth;
    position: sticky;
    top: 0;
    
}

.nav-links {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:left;
    width: 100%;
    margin: 0;
    padding: 0 0px;

    background: rgba(255, 255,255, 0.75);
    color: #BDBDBD;
    border-top: solid;
    border-bottom: solid;
    //box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
}

.nav-link{
    display: block;
    flex: 0 1 auto;
    padding: 1rem;

    color: #005F9B;
    text-decoration: none;
    transition: all 0.75s ease;
    font-weight: 400;
    &:hover {
        background: #BDBDBD;
        color:white;
    }
}
 
.home-link {
    display: block;
    flex: 0 1 auto;
    padding: 1rem 2rem;

    color: #005F9B;
    text-decoration: none;
    transition: all 0.75s ease;
    font-weight: 400;
    &:hover {
        background: #BDBDBD;
        color:white;
        letter-spacing: .4rem;
    }
}
.day{
    margin-top: 10vw;
    padding-top: 3vw;
    @media screen and (max-width: 937px) {
        h1 {
            font-size: 8vw;
        }
        h3 {
            margin: 3vw 0;
            width: 100%;
        }
        
        h4,h3 {
            font-size: 2.0vw;
            font-weight: 300;
        }
    }
}

.caption {
    text-align: center;
}